@model ClinicBigBoarsWeb.Models.Patient

@{
    ViewData["Title"] = "Подробно";
}

<h1>Подробно</h1>

<div>
    <h4>Госпитализация</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportNumSerial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassportNumSerial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedCardNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedCardNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedCardDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedCardDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastVizitDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastVizitDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextVizitDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextVizitDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PolisNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PolisNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PolisDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PolisDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnose)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalHistory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalHistory)
        </dd>
    </dl>
</div>
<div>|
    <a asp-action="Index">Назад</a>
</div>
