@model ClinicBigBoarsWeb.Models.Hospitalization

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Госпитализация</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalizationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HospitalizationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalizationObj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HospitalizationObj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conditions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conditions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeadlineDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeadlineDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Additionally)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Additionally)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HospitalizationId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
